if .IsActiveLang "en"
	h4.underlined Message sent correctly
	p Your message has been sent, thank you. We will reply you as soon as possible.
else
	h4.underlined Mensaje enviado correctamente
	p Gracias, tu mensaje ha sido enviado. Te contestaremos lo antes posible.
