html {
  background-color: var(--color-bg);
}

body {
  color: var(--color-a);
  font-family: 'VT323', 'Menlo', 'Monaco', monospace;
  font-size: 1.5rem;
}

p {
  font-size: 1.5rem;
  margin: .4rem 0;
}

.rw-header {
  margin-bottom: 1.5rem;
}

.rw-header > a {
  padding: 0;
}

.rw-header >a:hover {
  filter: brightness(1.15);
  color: none;
  background-color: transparent;
}

.rw-header > a > h1 {
  line-height: 1em;
}
.rw-header > a > h4 {
  line-height: .6em;
}

pre {
  background-color: transparent;
  font-family: 'VT323', 'Menlo', 'Monaco', monospace;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.7rem;
  color: inherit;
  padding: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}

h4 {
  font-size: 1.9rem;
  font-weight: 500;
}

.is-big {
  font-size: 10rem;
  font-weight: 600;
  line-height: 7.5rem;
}

.menu {
  border: 2px solid var(--color-b);
  margin-bottom: 2rem;
}

.menu-title {
  border-bottom: 2px solid var(--color-b);
  padding: 0 .5rem;
}

.menu-body {
  padding: .5rem;
}

.underlined {
  border-bottom: 1px solid var(--color-c);
  margin-bottom: .4rem;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  border: none;
  font-size: 1.1em;
}

a {
  color: var(--color-a-bright);
  text-decoration: none;
  padding: .09rem .2rem;
  font-size: 2rem;
  display: block; }

a:hover {
  color: var(--color-bg);
  background-color: var(--color-a-bright);
  text-decoration: none;
}

a.is-terminal {
  background-color: transparent;
  color: var(--color-a-low);
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0 .4rem;
}

a.is-terminal:hover {
  color: var(--color-bg);
  background-color: var(--color-a-bright);
}

.cursor-block {
  background-color: var(--color-b);
  margin-left: .2rem;
}

.blink-me {
  animation: blinker steps(1) 0.65s infinite alternate;
}

@keyframes blinker {
  0% {
    visibility: visible; }
  50% {
    visibility: hidden; }
  100% {
    visibility: visible; } }

.terminal-control {
  margin-bottom: 1rem;
}

.terminal-control > label {
  display: block;
  font-size: 1.5rem;
}

.terminal-control > input, .terminal-control > textarea {
  width: 100%;
  background-color: var(--color-bg);
  border: 1px solid var(--color-c);
  color: var(--color-a);
  font-size: 1.6rem;
  padding: .3rem .2rem;
  font-family: 'VT323', 'Menlo', 'Monaco', monospace;
  box-shadow: none;
}

.terminal-control > input:focus, .terminal-control > textarea:focus,
.terminal-control > input:focus-visible, .terminal-control > textarea:focus-visible,
.terminal-control > input.is-focused, .terminal-control > textarea.is-focused,
.terminal-control > input:active, .terminal-control > textarea:active,
.terminal-control > input.is-active, .terminal-control > textarea.is-active
{
  border: 1px solid var(--color-b);
  border-radius: 0;
  box-shadow: none;
  outline: 0;
}

button, input[type="submit"] {
  font-family: 'VT323', 'Menlo', 'Monaco', monospace;
  font-size: 1.6rem;
  font-weight: 800;
  background-color: transparent;
  color: var(--color-a-low);
  border: 2px solid var(--color-a-low);
  padding: .25rem .8rem;
  min-width: 8rem;
}

button:hover, input[type="submit"]:hover {
  border-color: var(--color-a-bright);
  background-color: var(--color-a-bright);
  color: var(--color-bg);
}

.buttons {
  display: block;
  padding: 1rem 0 1.5rem 0;
}

.selector a {
  border: 1px solid var(--color-b);
}

.selector a.is-active {
  background-color: var(--color-a-low);
  color: var(--color-bg);
  border: 1px solid var(--color-a-low);
}

.is-small {
  font-size: 1em;
}

.is-upcase {
  text-transform: uppercase;
}

b {
  font-weight: 800;
  color: var(--color-a-bright)
}
