html {
  background-color: #001007;
}

body {
  color: #00b280;
  font-family: 'VT323', 'Menlo', 'Monaco', monospace;
  font-size: 1.5rem;
}

p {
  font-size: 1.5rem;
  margin: .4rem 0;
}

.rw-header {
  margin-bottom: 2rem;
}

.rw-header > a {
  padding: 0;
  color: #00b280;
}

.rw-header > a:hover {
  color: #00D696;
  background-color: transparent;
}

pre {
  background-color: transparent;
  font-family: 'VT323', 'Menlo', 'Monaco', monospace;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.7rem;
  color: inherit;
  padding: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}

h4 {
  font-size: 1.9rem;
  font-weight: 500;
}

.menu {
  border: 2px solid #00b28098;
  margin-bottom: 2rem;
}

.menu-title {
  border-bottom: 2px solid #00b28098;
  padding: 0 .5rem;
}

.menu-body {
  padding: .5rem;
}

.underlined {
  border-bottom: 1px solid #00b28032;
  margin-bottom: .4rem;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
    border: none;
    font-size: 1.1em; }

a {
  color: #00D696;
  text-decoration: none;
  padding: .09rem .2rem;
  font-size: 2rem;
  display: block; }

a:hover {
  color: #0f2920;
  background-color: #00d696;
  text-decoration: none; }

a.is-terminal {
  background-color: transparent;
  color: #00d696b6;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0 .4rem;
}

a.is-terminal:hover {
  color: #0f2920;
  background-color: #00d696b6;
}

.cursor-block {
  background-color: #1A4637;
  color: #00b280;
  margin-left: .2rem; }

.blink-me {
  animation: blinker steps(1) 0.65s infinite alternate; }

@keyframes blinker {
  0% {
    visibility: visible; }
  50% {
    visibility: hidden; }
  100% {
    visibility: visible; } }

.terminal-control {
  margin-bottom: 1rem;
}

.terminal-control > label {
  display: block;
  font-size: 1.5rem;
}

.terminal-control > input, .terminal-control > textarea {
  width: 100%;
  background-color: #0d241c;
  border: none;
  font-size: 1.6rem;
  color: #00D696;
  padding: .3rem .2rem;
  font-family: 'VT323', 'Menlo', 'Monaco', monospace;
  box-shadow: none;
}

.terminal-control > input:focus, .terminal-control > textarea:focus,
.terminal-control > input:focus-visible, .terminal-control > textarea:focus-visible,
.terminal-control > input.is-focused, .terminal-control > textarea.is-focused,
.terminal-control > input:active, .terminal-control > textarea:active,
.terminal-control > input.is-active, .terminal-control > textarea.is-active
{
  border: none;
  border-radius: 0;
  box-shadow: none;
  outline: 0;
}

button, input[type="submit"] {
  font-family: 'VT323', 'Menlo', 'Monaco', monospace;
  font-size: 1.6rem;
  font-weight: 800;
  background-color: transparent;
  color: #00D696;
  border: 2px solid #00D696;
  padding: .25rem .8rem;
  min-width: 8rem;
}

button:hover, input[type="submit"]:hover {
  background-color: #00D696;
  color: #0f2920;
}

.buttons {
  display: block;
  padding: 1rem 0 1.5rem 0;
}