doctype html
html(lang="en")
	head
		title RW:Updater
		meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="apple-touch-icon" sizes="180x180" href="/asset/favicon/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="/asset/favicon/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="/asset/favicon/favicon-16x16.png")
		link(rel="manifest" href="/asset/favicon/site.webmanifest")
		link(rel="stylesheet" href="/asset/css/bulma.min.css" type="text/css")
		link(rel="stylesheet" href=(.LinkColorCSS) type="text/css")
		link(rel="stylesheet" href="/asset/css/main.css" type="text/css")
		link(href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet")
	body
		section.section
			.container.rw-header
				a(href=(.LinkTo ""))
					img#rw-logo(src="/asset/gfx/rwupd.svg" alt="RetroWiki FPGA-Team Updater")
			.container.menu
				h2.menu-title
					span.is-hidden-mobile ***
					span= .PageTitle
					span.is-hidden-mobile ***
				.menu-body {{embed}}
			.container
				.columns
					.column.is-three-quarters
						p
							if .IsMain
								span= .T "buttons.click"
								span.cursor-block.blink-me &nbsp;
							else
								a.is-terminal-button.is-inline.is-small(href=(.LinkTo ""))
									| #{.T "buttons.return"}
									span.cursor-block.blink-me &nbsp;
					.column.is-one-quarter.has-text-right
						p.selector
							span #{.T "buttons.lang"}:
							each _ in .Langs
								if .Active
									a.is-terminal-button.is-inline.is-small.is-upcase.is-active(href=(.Link))= .Abbr
								else
									a.is-terminal-button.is-inline.is-small.is-upcase(href=(.Link))= .Abbr
						p.selector
							span #{.T "buttons.color"}:
							each _ in .Colors
								if .Active
									a.is-terminal-button.is-inline.is-small.is-upcase.is-active(href=(.Link))= .Abbr
								else
									a.is-terminal-button.is-inline.is-small.is-upcase(href=(.Link))= .Abbr