if .IsActiveLang "en"
  h3 Version: #{.Latest}
else
  h3 Versión: #{.Latest}

table
  thead
    tr
      th Os
      th Arch
      th.has-text-right &darr;Compress
      th.has-text-right &darr;Bin
  tbody
    each _ in .Downloads
      tr
        td= .Os
        td= .CPU
        td.has-text-right
          a(href=(.DistLink)) #{.DistName}
        td.has-text-right
          a(href=(.BinLink)) #{.BinName}

p (*) darwin &rarr; Apple MacOS-X