h4.underlined Client

if .IsActiveLang "en"
  p
    | You can contribute to the client software reporting bugs, giving suggestions o improvements in
    |  a pull request. Please, take a look at the project in GitHub:
  ul
    li
      a(href="https://github.com/jorgefuertes/rwupdater-client") GitHub Client Page

  h4.underlined Mantaining an FPGA architecture
  p
    | Another posibility its to add an unsupported FPGA architecture that you have.
    |  Contact us to request more instructions on how to prepare an architecture tree and to give
    |  you access as mantainer.
  ul
    li
      a(href="/contact") Contact Form
else
  p
    | Puedes contribuir con el programa cliente informando de gazapos, aportanto sugerencias o
    |  mejoras en la página del proyecto en GitHub:
  ul
    li
      a(href="https://github.com/jorgefuertes/rwupdater-client") Proyecto en GitHub

  h4.underlined Manteniendo una arquitectura FPGA
  p
    | Otra posibilidad es añadir una máquina FPGA no soportada y que tú tengas.
    |  Contáctanos para solicitar más información acerca de cómo preparar un árbol de directorios
    |  para dicha máquina y para darte acceso como mantenedor.
  ul
    li
      a(href="/contact") Formulario de contacto
