h4.underlined Descarga

p Puedes descargar la versión correspondiente a tu sistema operativo desde:
ul
	li
		a(href=(.LinkTo "downloads")) &raquo; Descargas

p.
	En esa página puedes obtener los enlaces para descargar un binario directamente o un paquete
	comprimido.

p Por ejemplo para descargar directamente la última versión para GNU/Linux:

code curl -o rw-updater #{.MyURL}/download/bin/linux/amd64

h4.underlined En tu ordenador o en tu FPGA

p.
	Hay dos formas de utilizar el actualizador, la primera es desde tu propio ordenador, insertando
	la tarjeta SD de tu máquina retro y dándole la ruta correcta al actualizador, y la segunda
	consiste en descargar este programa dentro de tu SD para utilizarlo desde la misma, bien
	ejecutándolo mendiante un terminal SSH o bien desde sus propios menús. Evidentemente para que
	la máquina lo pueda ejecutar debe correr un anfitrión GNU/Linux, como ocurren en máquinas como
	MiSTer, que disponen de un procesador ARM y ejecutan un sistema linux para controlar la
	periferia, los menús y los cores.

p.
	Si tu máquina retro no dispone de este sistema, como es el caso de la MiST, tu única opción es
	la primera: actualizar la tarjeta SD desde tu ordenador.

h4.underlined ¿Qué me va a actualizar?

p Todo lo que el mantenedor de esa rama haya subido a nuestros repositorios.
p.
	Normalmente los cores desarrolladors por el equipo FPGA de RetroWiki, y quizá algunas ROM,
	imágenes de disco u otros ficheros auxiliares.
p.
	Sin embargo has de tener en cuenta que sólo se actualizarán los cores para los que tengamos una
	versión superior, y los ficheros auxiliares, en caso de existir, no se tocarán.
p.
	Esto es importante para no sobreescribir ninguna modificación local que hayas hecho sobre
	discos y otros ficheros.

h4.underlined Actualización desde el ordenador

p.
	Descarga la versión correspondiente a tu sistema y ejecuta, suponiendo que tu tarjeta SD está
	montada en <b>/mnt/mistSD</b>:

code ./rw-updater update mist /mnt/mistSD

h4.underlined Actualización desde una MiSTer

p.
	Accede mediante SSH a tu MiSTer y descarga el updater:

code.
	ssh root@IP_DE_MI_MISTER<br/>
	mkdir /media/fat/retrowiki-bin<br/>
	cd /media/fat/retrowiki-bin<br/>
	curl -k -o rw-updater #{.MyURL}/download/bin/linux/arm<br/>

p Ahora para bajar o actualizar los cores base:
code.
	./rw-updater update mister-base /media/fat

p Si tu mister dispone de módulo SRAM:
code.
	./rw-updater update mister-sram /media/fat

p Si dispones del módulo R888:
code.
	./rw-updater update mister-r888 /media/fat

h4.underlined Ayuda

p Para ver la ayuda del updater:
code.
	./rw-updater --help

h4.underlined Otras arquitecturas
code.
	./rw-updater arch-list

h4.underlined Eso es todo

p.
	Las sucesivas actualizaciones se hacen exactamente igual:

code.
	cd /media/fat/retrowiki-bin<br />
	./rw-updater update mister-base

p.
	Además el updater se actualiza a sí mismo a partir de la versión 0.1.5, pero recuerda actualizar
	a mano si todavía tienes una 0.1.4.

